<nav class="navbar bg-primary">
    <div class="container">
        <a class="navbar-brand fw-bolder text-uppercase d-flex align-items-center text-white">
            <img src="/assets/images/logo.png" class="me-2" width="50" alt="Earth icon">
            <div class="d-flex flex-column">
                <span class="logo_text">Warp</span>
                <span class="logo_text">Worlds</span>
            </div>
        </a>
        <button class="btn" (click)="toggleTheme()">
            <i *ngIf="!is_dark_mode" class="fa-solid fa-sun"></i>
            <i *ngIf="is_dark_mode" class="fa-solid fa-moon"></i>
        </button>
    </div>
</nav>
