<div class="my-5">
    <ng-container *ngIf="country">
        <h1 class="fw-bolder">{{ country.name.official }}</h1>
        <hr />
        <app-country-info-table [country]="country" />

        <h4 class="fw-bolder mt-5">Leave a comment</h4>
        <p>For even more customization use the <i class="fa-solid fa-code"></i> icon to edit the raw HTML!</p>
        <angular-editor [config]="text_editor_config" [(ngModel)]="editor_content">
            <ng-template #customButtons let-executeCommandFn="executeCommandFn">
                <ae-toolbar-set>
                    <ae-button
                        iconClass="fa fa-html5"
                        title="Angular editor logo"
                        (buttonClick)="executeCommandFn('insertHtml', angularEditorLogo())"
                    >
                    </ae-button>
                </ae-toolbar-set>
            </ng-template>
        </angular-editor>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary rounded-4 mt-2" (click)="save()">
                <i class="fa-regular fa-floppy-disk me-1"></i>
                Save Comment
            </button>
        </div>
        <ng-container *ngIf="comments && comments.length > 0">
            <div class="my-4">
                <h4>Comments</h4>
                <hr />
                <div *ngFor="let comment of comments" class="card" [innerHTML]="comment"></div>
            </div>
        </ng-container>
    </ng-container>
</div>
