<div class="modal-header">
    <div class="d-flex align-items-center">
        <h4 class="modal-title fw-bolder">{{ country.name.official }}</h4>
        <h4 class="m-0 ms-2 me-3">{{ country.flag }}</h4>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <table class="table">
        <tbody>
            <tr>
                <th class="fw-bolder">Capital</th>
                <td>{{ country.capital }}</td>
            </tr>
            <tr>
                <th class="fw-bolder">Region</th>
                <td>{{ country.region }}</td>
            </tr>
            <tr>
                <th class="fw-bolder">Languages</th>
                <td>{{ country.languages | language }}</td>
            </tr>
            <tr>
                <th class="fw-bolder">Currency</th>
                <td>{{ country.currencies | currencyObjectValues }}</td>
            </tr>
            <tr>
                <th class="fw-bolder">Population</th>
                <td>{{ country.population }}</td>
            </tr>
            <tr>
                <th class="fw-bolder">FIFA Code</th>
                <td>{{ country.fifa !== '' ? country.fifa : 'Not Set' }}</td>
            </tr>
            <tr>
                <th class="fw-bolder">Time</th>
                <td>{{ country.timezones[0] | currentLocalTime }}</td>
            </tr>
            <tr *ngIf="country.coatOfArms.png || country.coatOfArms.svg">
                <th class="fw-bolder">Coat Of Arms</th>
                <td>
                    <img width="35" [src]="country.coatOfArms.png ? country.coatOfArms.png : country.coatOfArms.svg" [alt]="country.name.official + ' coat of arms'" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-center">
        <a *ngIf="country.maps.googleMaps" [href]="country.maps.googleMaps" target="_blank" class="btn btn-outline-secondary btn-sm">
            Google Maps
        </a>
        <a *ngIf="country.maps.openStreetMaps" [href]="country.maps.openStreetMaps" target="_blank" class="btn btn-outline-secondary btn-sm">
            Open Street Map
        </a>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="!in_favorites" class="btn btn-primary w-100" (click)="onAddToFavorites(country)">
        <i class="fa-solid fa-star me-1"></i>
        Add To Favorites
    </button>
    <button *ngIf="in_favorites" class="btn btn-danger w-100" (click)="onRemoveFromFavorites(country.fifa)">
        <i class="fa-solid fa-trash me-1"></i>
        Remove From Favorites
    </button>
</div>
