@import 'ngx-toastr/toastr';

$primary: #a436f1;

@import 'bootstrap/scss/bootstrap';
@import './scss/';

* {
    font-family: 'Montserrat', sans-serif;
}

.modal-content {
    border-radius: 1rem;
    padding: 1rem;
}

tr:last-child {
    border-bottom: 0px transparent;
}
