@import 'ngx-toastr/toastr';

$primary: #a436f1;

@import 'bootstrap/scss/bootstrap';
@import './scss/';

// General styles
*, .Montserrat {
    font-family: 'Montserrat', sans-serif;
}

// Override bootstraps default styles
.modal-content {
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
}

tr:last-child {
    border-bottom: 0px transparent;
}

.dropdown-menu {
    padding: 0.5rem;
    border-radius: 0.75rem;

    .dropdown-item {
        border-radius: 0.5rem;
        margin-bottom: 0.25rem;
    }
}

// Override toastr default styles
#toast-container {
    position: fixed;
}

// Override Angular Editor styles
.angular-editor-toolbar {
    padding: 0.5rem !important; // Have to use important to override base styling
    border-radius: 0.75rem;
    background-color: var(--bs-body-bg) !important;
    border-color: var(--bs-border-color-translucent) !important;

    button {
        border-radius: 0.25rem;
        color: #000 !important;
        margin-right: 0.2rem;
    }
}

.angular-editor-textarea {
    border-radius: 1rem;
    border-color: var(--bs-border-color-translucent) !important;

    img {
        width: 100%;
        max-width: 450px;
        border-radius: 1rem;
    }
}

.comment_card {
    img {
        width: 100%;
        max-width: 450px;
        border-radius: 1rem;
    }
}
