.overlay {
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(#a436f1, 0.8);
    z-index: 999;
    color: #fff;
    font-size: 1.5rem;

    &_text {
        margin-top: 0.75rem;
        animation: stretchy 1.75s ease-in-out infinite;
    }
}

@keyframes stretchy {
    0% {
        letter-spacing: normal;
        transform: scale(1);
    }

    50% {
        letter-spacing: 2px;
        transform: scale(1.1);
    }

    100% {
        letter-spacing: normal;
        transform: scale(1);
    }
}
