<a
    class="d-block card p-3 h-100 country_card"
    (click)="onSelectCountry()"
    [ngClass]="{'selected': select === 'Selected'}"
>
    <div class="position-relative d-flex justify-content-center pt-2 pt-sm-0">
        <ng-container *ngIf="use_modal; else remove_btn">
            <button
                class="btn btn-sm control_btn"
                [ngClass]="{'btn-secondary': select === 'Select', 'btn-primary': select === 'Selected'}"
                (click)="onSelectFavorite($event)"
            >
                {{ select }}
                <i class="fa-solid fa-star"></i>
            </button>
        </ng-container>

        <ng-template #remove_btn>
            <button
                class="btn btn-sm btn-danger control_btn"
                (click)="onRemoveFavorite($event)"
            >
                Remove
            <i class="fa-solid fa-trash"></i>
        </button>
        </ng-template>

        <!-- Why is this an emoji and not an image!?!?! -->
        <p class="flag m-0">
            {{ country.flag }}
        </p>

        <div
            *ngIf="country.coatOfArms.png || country.coatOfArms.svg"
            class="coat_of_arms ratio ratio-1x1"
        >
            <img
                [src]="country.coatOfArms.png ? country.coatOfArms.png : country.coatOfArms.svg"
                [alt]="country.name.official + ' coat of arms'"
            />
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <p class="fw-bolder m-0 text-center">
            {{ country.name.common }}
        </p>
    </div>
</a>

